# macOS
.DS_Store

# Obsidian
.obsidian/workspace
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/appearance.json
.obsidian/global-search.json
.obsidian/plugins/obsidian-git/data.json
.obsidian/plugins/obsidian-excalidraw/data.json

# Mobile cache
.obsidian/Workspace




# Ignore Smart Environment folder
.smart-env